nemo-toolkit[asr]
sounddevice~=0.5.3
numpy~=2.3.5
webrtcvad~=2.0.10
absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
asgiref==3.11.0
asttokens==3.0.1
attrs==25.4.0
audioread==3.1.0
boto3==1.42.25
botocore==1.42.25
braceexpand==0.1.7
certifi==2026.1.4
